{
  "editor.tabSize": 2,
  "editor.formatOnSave": true,
  "workbench.iconTheme": "material-icon-theme",
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "notebook.defaultFormatter": "esbenp.prettier-vscode",
  "editor.fontWeight": "normal"
}
